<!--
    form module used
    ngSumbit used

    and input
-->

<form class="form" (ngSubmit)="onSubmit()">
    <!-- ng model used here-->
    <input type="text" name="title" [(ngModel)]="title" 
    placeholder="Add Todo...">
    
     <!-- {{ title }} -->  <!-- this is only re-show what you type-->

    <input type="submit" value="Submit" class="btn">

</form>