<!-- <h1> TODOS!</h1> -->


 <!--
     function addTodo
     binding to events
-->
<app-add-todo (addTodo)="addTodo($event)"> </app-add-todo>

 <!-- 
    ng for
    todo
    and delete todo
 -->
 <app-todo-item 
 *ngFor = "let todo of todos" 
 [todo]="todo"
 (deleteTodo) = "deleteTodo($event)"  
 >
 
 </app-todo-item>