/* Import a web font */
@import url(http://fonts.googleapis.com/css?family=Nunito+Sans);


.two-columns {
    column-count: 2;
}


img{
    float: right;
    padding: 15px;   
}

.container{
    display: flex;

}

.column-1{
    margin-right: 2px;
}

.container-mannual *{
    background-color: cadetblue;
}

.mannual-one {
    width: 49%;

}

.mannual-two {
    position: relative; 
    width: 49%;
    bottom: 926px;
    left: 580px;
}


/*Sans-serif and just serif ???  */

/* h2{
    font-family: sans-serif;
}

h3{
    font-family: monospace;
} */

/* h1,h2,h3{
    font-family:  Tahoma, Geneva, Verdana, serif
} */

h1,h2,h3, p  {
    font-family:  "Nunito Sans", Tahoma, Geneva, Verdana, serif;
}


/* when inspecting, there are
font-family 
font-style   
font-size 
font-variant
font-weight
to choose and test appearance */



