/* CSS Specificities /

/* 

.means class selectors  
nothing means tag selectors
[] means attribute selectors
# means ID selectors
: pseudo class selectors 

*/

/* this means all elements */
/* CSS Reset */
/* * {
    padding: 0px;
    margin: 0px;
}  


.cool-beans > h1 {  
display: flex;
}

[id] {
    display: block;
}

div:first-child{
    color: antiquewhite
}

 */

 ul{
    list-style-type: none;
    background-color: #cccccc
 }

 ul li:nth-child(3){                     /* only for 3rd li of ul  */
     background-color: #6D7E8F;
     padding: 10px 0 10px 25px;      
     margin: 25px;
     border: 2px solid black;
    
     /* border-style: solid;
    border-color: black;
    border-width: 2px; */
}

p{
    /* display: inline; */
    /* display: none; */     /* make paragraphs gone */  
    display: flex;
}

a{
    color: rgb(174, 9, 240);
    text-decoration: none;           /*clear default text deco.   */
}

a:visited{
    color: #c41010;
}









